header{
    background-image: url(./images/banner/banner1.png);
    width: 1200px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container{
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-title{
    position: absolute;
    top: 80px;
    left: 800px;
}
.header-para{
    position: absolute;
    top: 220px;
    left: 800px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}
.h-btn{
    background-color: orangered;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 140px;
    position: absolute;
    top: 340px;
    left: 800px;
}
.bg-container{
    display: flex;
    justify-content: space-between;

}
.bg-container .left-img{
    position: absolute;
    top: 900px;
}
.bg-container .right-content{
    margin-top: 300px;
    margin-right: 180px;
}
.list{
    
    list-style: none;
    
    line-height: 25px;
}
.container{
    display: flex;
    justify-content: space-around;
    
    /* width: 1200px;
    height: 400px; */
}
.head .title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
}
.gradient{
    width: 1100px;
    height: 300px;
    background-image: linear-gradient(90deg, rgb(168, 68, 32) 5%, rgb(100, 100, 192) 100%), url(./images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    position: absolute;
    left: 120px;
    top: 1500px;
    border-radius: 5px;
}
.watch-head{
    color: white;
    font-weight: 600;
    margin-top: 80px;
    margin-left: 60px;
    font-size: 28px;
    margin-bottom: 30px;
}
.bg-btn{
    background: white;
    font-size: 22px;
    color: brown;
    padding: 10px;
    width: 140px;
    border-radius: 5px;
    margin-left: 60px;
}
.footer-sec{
    width: 100%;
    height: 350px;
    background-color: black;
    position: absolute;
    top: 1900px;
    left: 0;
    border-radius: 5px;
    
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    color: white;
    margin-left: 80px;
    margin-top: 40px;
}
.footer-left a{
    text-decoration: none;
    color: white;
}
.footer-right{
    color: white;
    margin-right: 80px;
    margin-top: 40px;
}
.footer-right input{
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}
.footer-right .ft-btn{
    margin-top: 20px;
    background-color: white;
    color: orangered;
    font-size: 20px;
}
.footer-left .ft-icon{
    margin-top: 30px;
}
.footer-left .ft-icon .icon{
    margin-right: 20px;
}
